<li>
    {{name}}

    <button class="change-devoured btn btn-light btn-sm" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}Eat. This. Burger.{{else}}Devoured. So Good. Chef's Kiss!{{/if}}
    </button>
</li>